{% extends rz_admin_get_template('rz_user.template.layout') %}

{% block rz_user_breadcrumb %}
    {{ sonata_block_render_event('breadcrumb', { 'context': 'rz.user.block.profile_reset_email_sent_breadcrumb', 'current_uri': app.request.requestUri, 'container_attr': {'class': 'breadcrumb'}, 'separator': '<i class="icon-angle-right"></i>', 'current_class': 'active' }) }}
{% endblock %}

{% block rz_user_title %}<h1>{{ "title_user_resetting" | trans({}, 'RzUserBundle')}}</h1>{% endblock %}

{% block rz_user_header_content %}{% endblock %}

{% block fos_user_content %}
    <div class="row-fluid">
        <div class="span6 offset3">
            <div class="sonata-user-reset-password">
                <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
