{% extends rz_core_get_template('rz_user.template.layout') %}

{% trans_default_domain 'SonataUserBundle' %}

{% block rz_user_header %}{% endblock %}

{% block rz_user_message %}{% endblock rz_user_message %}

{% block fos_user_content %}
	<div class="lockscreen-logo">
		{{ "title_user_resetting" | trans({}, 'SonataUserBundle') | raw}}
	</div>
	<div class="lockscreen-name">{{ 'security.resetting.title' | trans({}, 'SonataUserBundle') }}</div>

	<div class="help-block text-center">
		<img style="width: 400px;" src="{{  asset('bundles/rzuser/img/default-email/hero-wide2.png') }}" alt="User Image">
	</div>

	<div class="callout callout-danger">
		<h4><i class="icon fa fa-ban"></i> Alert!</h4>
		<div class="help-block text-center">
			<p style="color:#fff;">{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
		</div>
	</div>
{% endblock fos_user_content %}
