{% extends rz_admin_get_template('rz_user.template.layout') %}
{% block rz_user_header %}{% endblock rz_user_header %}

{% block fos_user_content %}
    <div class="row-fluid">
        <div class="span6 offset3">
            <div class="sonata-user-reset-password">
                <h1>{{ "title_user_resetting" | trans({}, 'RzUserBundle')}}</h1>
                <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
