{% trans_default_domain 'RzUserBundle' %}
<div class="row-fluid">
    <div class="span6 offset3">
        <div class="sonata-user-reset-password">
        {% if account_error is defined %}
            <div class="form-errors">
                {% set msg = 'resetting.request.'~account_error %}
                <p>{{ msg |trans({'%username%': username}) }}</p>
            </div>
        {% endif %}
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="contact-form contact-form-register" >
            <p class="form_info">{{ 'form.label_username'|trans({}, 'RzUserBundle') }} <span class="required">*</span></p>
            <input type="text" id="username" name="username" required="required" class="span12"/>
            <div class="registration-submit">
                <input class="btn btn-rzcms-theme btn-register" type="submit" value="{{ 'resetting.reset.submit'|trans({}, 'RzUserBundle') }}" />
            </div>
        </form>
        </div>
    </div>
</div>
