{% extends rz_core_get_template('rz_user.template.layout') %}

{% trans_default_domain 'SonataUserBundle' %}

{% block rz_user_header %}{% endblock %}

{% block rz_user_message %}
	{% if account_error is defined %}
		<div class="alert alert-danger alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4><i class="icon fa fa-ban"></i> Alert!</h4>
			{% set msg = 'resetting.request.'~account_error %}
			<p>{{ msg |trans({'%username%': username}) | raw }}</p>
		</div>
	{% endif %}
{% endblock rz_user_message %}

{% block fos_user_content %}
	<div class="lockscreen-logo">
		{{ "title_user_resetting" | trans({}, 'SonataUserBundle') | raw}}
	</div>
	<div class="lockscreen-name">{{ 'security.resetting.title' | trans({}, 'SonataUserBundle') }}</div>
    {% include rz_core_get_template('rz_user.template.resetting.request_content') %}
{% endblock fos_user_content %}