{% extends rz_core_get_template('rz_user.template.layout') %}

{% trans_default_domain 'SonataUserBundle' %}

{% block rz_user_header %}{% endblock %}

{% block rz_user_message %}{% endblock rz_user_message %}

{% block fos_user_content %}
	<div class="lockscreen-logo">
		{{ "title_user_resetting" | trans({}, 'SonataUserBundle') | raw}}
	</div>
    {% include rz_core_get_template('rz_user.template.resetting.form_content') %}
{% endblock fos_user_content %}