<div class="register-logo">
	{{ 'user_registration_logo'|trans({}, 'SonataUserBundle')|raw }}
</div>

<div class="register-box-body">
	{% include rz_core_get_template('rz_user.template.registration.form_content') %}
</div>
