{% extends rz_core_get_template('rz_user.template.profile.action') %}

{% block sonata_page_breadcrumb %}
    <section class="content-header">
        <h1>{% block sonata_profile_title %}{% trans from 'SonataUserBundle' %}sonata_profile_title{% endtrans %}{% endblock %}</h1>
        {% if breadcrumb_context is not defined %}
            {% set breadcrumb_context = 'user_index' %}
        {% endif %}
        {{ sonata_block_render_event('breadcrumb', { 'context': breadcrumb_context, 'current_uri': app.request.requestUri, 'menu_template': 'RzSeoBundle:Block:breadcrumb.html.twig', }) }}
    </section>
{% endblock %}

{% block sonata_profile_content %}

	{{ form_errors(form) }}
	<div class="box box-danger">
		<div class="box-header with-border">
			<h3 class="box-title">{{ "title_user_account" | trans({}, 'SonataUserBundle') }}</h3>
		</div>
		{% block fos_user_content %}
			{% include rz_core_get_template('rz_user.template.profile.edit_content') %}
		{% endblock fos_user_content %}
		<!-- /.box-body -->
	</div>
{% endblock %}
