{% extends rz_core_get_template('rz_user.template.profile.action') %}

{% block sonata_page_breadcrumb %}
	<section class="content-header">
		<h1>{% block sonata_profile_title %}{% trans from 'SonataUserBundle' %}sonata_profile_title{% endtrans %}{% endblock %}</h1>
		{% if breadcrumb_context is not defined %}
			{% set breadcrumb_context = 'user_index' %}
		{% endif %}
		{{ sonata_block_render_event('breadcrumb', { 'context': 'rz.user.block.breadcrumb.change_password', 'current_uri': app.request.requestUri, 'menu_template': 'RzSeoBundle:Block:breadcrumb.html.twig' }) }}
	</section>
{% endblock %}

{% block sonata_profile_content %}
<div class="callout callout-info">
	<h4>Make sure you choose a strong password</h4>
	<p>A strong password contains a mix of numbers, letters, and symbols. It is hard to guess, does not resemble a real word, and is only used for this account.</p>
</div>
{{ form_errors(form) }}
<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">{{ "title_user_edit_password" | trans({}, 'SonataUserBundle') }}</h3>
	</div>
	{% block fos_user_content %}
		{% include rz_core_get_template('rz_user.template.change_password.form_content') %}
	{% endblock fos_user_content %}
	<!-- /.box-body -->
</div>
{% endblock sonata_profile_content %}

{# form_errors.html.twig #}
{% block form_errors %}
	{% spaceless %}
		{% if errors|length > 0 %}
		<div class="alert alert-danger alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
			<h4><i class="icon fa fa-ban"></i> Alert!</h4>
			<ul>
				{% for error in errors %}
					<li>{{ error.message }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
	{% endspaceless %}
{% endblock form_errors %}

